/* External Stylesheet */

/* Load Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Reset margins and paddings */
body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;  
}

#question-container {
    display: flex;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

#question {
    flex-grow: 1;
    width: auto;
    height: 40px;  
    padding: 10px;   
}

#enterButton {
    display: none; 
}

#answer {
    border: 1px solid #868C96;
    background-color: #F7F7F8;
    color: black;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    transition: min-height 0.3s ease;  
}

#loading iframe {
    width: 120px; 
    height: 57px; 
}

#loading-messages {
    font-size: 16px;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

#answer > * {
    margin-top: 0;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    #question {
        flex-grow: 0; 
        width: calc(100% - 60px); 
    }

    #enterButton {
    display: inline-block; 
    width: 50px; 
    margin-left: 5px; 
    padding: 5px; 
    border: 1px solid #868C96; 
    border-radius: 3px; 
    background-color: #c90c0f; 
    color: #ffffff;
    font-weight: bold; 
    cursor: pointer; 
    text-align: center; 
}


    #loading iframe {
        width: 36px; 
        height: 17.1px; 
    }
    
    #answer {
        padding: 5px;
        margin-top: 5px;
    }
}
